/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

/* Other CSS file imports */
@import url("./sections/header.css");
@import url("./sections/hero.css");

/* CSS variables for reusablity across all files  */
:root {
	--playfair-display: "Playfair Display", serif;
	--plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

	--primary-color: #b1454a;
	--secondary-color: #121212;

	--black-200: #020202;
	--black-300: #333333;
	--black-400: #1f1e31;
	--black-500: #555555;
	--gray-100: #888888;

	--color-white: #fff;
	--color-creamson: #fff0de;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	max-width: 1280px;
	margin: 0 auto;
	background-color: var(--color-creamson);
}

a {
	text-decoration: none;
	color: inherit;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* START: header media queries */
@media screen and (max-width: 900px) {
	.header__nav {
		background-color: var(--primary-color);
	}

	.header__menu {
		display: none;
	}

	.header__menu-mobile {
		display: flex;
	}
}

@media screen and (max-width: 550px) {
	.header__logo {
		padding-left: 0;
	}
}
/* END: header media queries */

/* START: hero-section media queries */
@media screen and (max-width: 1060px) {
	.hero {
		flex-direction: column;
	}

	.hero-image img {
		width: 100%;
		margin-left: -30px;

		transform: matrix(1, 0.05, 0, 1.25, 0, 0) !important;
	}

	.hero-content {
		margin-top: 40px;
	}
}

@media screen and (max-width: 750px) {
	.hero-image h2 {
		font-size: 70px;
		line-height: 90px;
	}
}

@media screen and (max-width: 550px) {
	.hero-image h2 {
		font-size: 40px;
		line-height: 60px;
	}

	.hero-content-info {
		padding: 32px;
	}

	.hero-content-info h1 {
		font-size: 60px;
	}

	.hero-content-info p {
		margin: 32px 0;
	}

	.hero-content__buttons {
		margin: 41px 0;
	}

	.hero-content__testimonial {
		padding: 32px;
	}
}
/* END: hero-section media queries */
