.header__dropdown {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;

	background: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 10px;

	display: none;
	
	list-style: none;

	margin: 10px;
	padding: 20px 10px 15px 30px;
	padding-left: 30px;

	color: #fff;
	font-size: 18px;
}

.header__dropdown.active {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.header__dropdown li {
	padding: 10px 0;
}

.header__dropdown li img {
	position: absolute;
	right: 8px;
	top: 8px;
	background-color: var(--primary-color);
}

.header__nav {
	display: flex;
	position: relative;
}

.header__logo {
	flex: 1;
	display: flex;
	position: relative;
	padding: 20px;
}

.header__logo-overlay {
	position: absolute;
	inset: 0;
	background-color: var(--primary-color);
	width: 100%;
	z-index: -1;
}

.header__logo h4 {
	padding-left: 30px;

	font-weight: 700;
	text-transform: uppercase;
	font-family: var(--playfair-display);
	color: #fff;
	opacity: 0.8;
}

.header__menu,
.header__menu-mobile {
	padding: 20px;
	display: flex;
	flex: 1.236;
	align-items: center;
	justify-content: flex-end;
	gap: 64px;

	list-style: none;
}

.header__menu li {
	font-weight: 500;
	font-family: var(--plus-jakarta-sans);
	font-size: 16px;
	text-transform: uppercase;
	line-height: 20px;
	cursor: pointer;
}

.header__menu li img {
	width: 24px;
	height: 24px;
	object-fit: contain;
}

.header__menu-mobile {
	display: none;
	gap: 20px;

	position: relative;
}
